<div class="login-container">
  <div class="login-form">
    <div style="text-align: center; margin-bottom: 1.5rem;">
      <img src="<%= image_path('gighive.jpg') %>" alt="GigHive Logo" style="max-width: 150px;">
    </div>
    <h2 style="text-align: center; margin-bottom: 1.5rem;">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <div class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: 'btn btn-primary btn-block', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..." } %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<style>
  .login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; /* Added padding for mobile responsiveness */
    background: linear-gradient(to bottom right, #FFD700, #1E90FF); /* Improved background with gradient */
  }

  .login-form {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    background: rgba(250, 245, 235, 0.85); /* A light background color to give a parchment-like feel */
  }

  .form-control {
    margin-bottom: 1rem;
  }

  .btn-primary {
    background-color: #FFD700; /* Hive Yellow */
    border-color: #FFD700;
  }
  
  .btn-primary:hover {
    background-color: #FF4500; /* Sunset Orange */
    border-color: #FF4500;
  }
  
  .form-horizontal .checkbox {
    padding-left: 20px;
  }

  .btn-primary:hover {
    background-color: #8d6e63; /* A darker, richer brown for the hover state */
    border-color: #8d6e63;
  }

  @media (max-width: 768px) {
    .login-form {
      padding: 1.5rem; /* Adjust padding for smaller screens */
    }

    .form-control {
      font-size: 1rem; /* Adjust font size for better readability on mobile */
    }

    .btn-primary {
      font-size: 1rem; /* Adjust button size for mobile */
    }
  }

  .fa-spinner {
    margin-right: 0.5rem;
  }
</style>